* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #373737;
}

.container {
  max-width: 1340px;
  margin: 0 auto;
  padding: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  row-gap: 16px;
}

.justify-content-center {
  justify-content: center;
}

.col-6 {
  width: 50%;
  padding: 0 16px;
}

.col-8 {
  width: 66.64%;
  padding: 0 16px;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

.text-center {
  text-align: center;
}

.card {
  background-color: #2a2a2a;
  border: 1px solid rgba(1, 96, 197, 0.826);
  border-radius: 12px;
  padding: 30px 20px;
  text-align: center;
  margin-top: 180px;
  transition: all 0.5s ease-in-out;
}

.card:hover {
  box-shadow: 
    0 -4px 15px rgba(0, 123, 255, 0.3),
    0 4px 15px rgba(0, 123, 255, 0.6);
}

.card h2 {
  margin-bottom: 20px;
  color: #333;
}

.card input {
  width: 60%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #bbb;
  border-radius: 8px;
  margin-right: 10px;
  margin-bottom: 20px;
}

.card button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  background-color: #007bff;
  color: #fff;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.card button:hover {
  background-color: #0056b3;
}

.card h2,
h2 {
  margin-top: 20px;
  color: #dadada;
}

button {
  margin-left: 10px;
}